*{
    font-family: 'Varela Round', sans-serif;
}

.masthead{
    background-image: url('images/tasty-pizza-near-ingredients.jpg');
    height: auto;
    width: 100%;
    position: relative;
    min-height: 35rem;
    background-size: cover;
}
